@import "../../styles/_variables";
@import "../../styles/_mixins";
@import "../../styles/_typography";

.lead {
  width: 100%;
  background-image: url("../icons/lead_img.png");
  background-size: cover;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  max-height: 53.12rem;

  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 12.6rem 23.37rem;
    width: 100%;
    height: 100%;

    @include xxxlMaxBreakPoint {
      padding: 10.6rem 18rem;
    }
    @include xxlMaxBreakPoint {
      padding: 10rem 14rem;
    }
    @include xlMaxBreakPoint {
      padding: 8rem 12rem;
    }
    @include lgMaxBreakPoint {
      padding: 8rem 10rem;
    }
    @include mdMaxBreakPoint {
      padding: 8rem;
    }
    @include smMaxBreakPoint {
      padding: 8rem 1rem;
    }
  }

  &__title {
    margin: 0;
    padding: 0;
    font-size: 3rem;
    text-transform: uppercase;
    font-weight: bold;
    width: 90%;
    &--highlighted {
      color: $primary-color;
    }
    @include sMaxBreakPoint {
      font-size: 1.9rem;
    }
  }

  &__content {
    margin: 5rem 0;
    @include xxlMaxBreakPoint {
      margin: 3rem 0;
    }
  }

  &__description {
    margin: 0;
    padding: 0;
    font-weight: bold;
    font-size: 1.25rem;
    @include sMaxBreakPoint {
      font-size: 1rem;
    }
  }

  &__list {
    margin: 0;
    padding: 0;
    list-style: "- ";
    padding-inline-start: 1.25rem;
  }

  &__item {
    font-size: 1.25rem;
    @include sMaxBreakPoint {
      font-size: 1rem;
    }
  }

  &__buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    @include xsMaxBreakPoint {
      flex-direction: column;
      align-self: center;
      gap: 1rem;
    }
  }
}
