@import "../../styles/_variables";
@import "../../styles/_mixins";

.form {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: max-content;
  gap: 1.875em;
  @include xlMaxBreakPoint {
    grid-template-columns: none;
    grid-auto-flow: dense;
  }
  @include sMaxBreakPoint {
    grid-template-columns: repeat(1, 1fr);
  }

  &__range {
    grid-column-start: 1;
    grid-column-end: 3;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 100%;
    @include sMaxBreakPoint {
      grid-column-end: -1;
    }
  }

  &__range-input {
    -webkit-appearance: none;
    appearance: none;
    outline: 1px solid $text-color-dark;
    outline-offset: 2px;
    background-color: transparent;
    transform-style: preserve-3d;

    &::-webkit-slider-runnable-track {
      height: 6px;
      background-color: $bg-color-light-opacity;
      border-radius: 3px;
      border: 1px solid $text-color-light;
    }
    &::-webkit-slider-thumb {
      -webkit-appearance: none;
      appearance: none;
      height: 23px;
      width: 23px;
      background-color: $primary-color;
      border-radius: 50%;
      border: 3px solid $border-color;
      transition: 0.2s ease-in-out;
      margin: -9px;
      transform: translateZ(5px);
    }
    &::-moz-range-thumb {
      height: 23px;
      width: 23px;
      background-color: $primary-color;
      border-radius: 50%;
      border: 3px solid $border-color;
      transition: 0.2s ease-in-out;
      z-index: 1;
      transform: translateZ(5px);
    }
    &::-moz-range-track {
      height: 6px;
      background-color: $bg-color-light-opacity;
      border-radius: 3px;
      border: 1px solid $text-color-light;
    }
  }

  &__range-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__submit {
    grid-column-start: 2;
    grid-column-end: 3;
    @include sMaxBreakPoint {
      grid-column-start: 1;
      grid-column-end: -1;
    }
  }

  &__text {
    padding: 0;
    margin: 0;
  }

  &__field {
    border-radius: 3px;
    background-color: $bg-color-light-opacity;
    border: none;
    outline: 0;
    padding: 10px 12px;
    font-size: 1.125em;
    font-family: inherit;
    font-weight: 400;
    max-height: 48px;

    &::placeholder {
      color: $text-color-dark;
    }
  }

  &__file {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $text-color-dark;
    background-color: $text-color-light;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.95em;
    &:hover {
      cursor: pointer;
    }
  }

  &__file-input {
    width: 0.1px;
    height: 0.1px;
  }

  &__image {
    margin-right: 4px;
  }

  &__selectbox {
    position: relative;
    width: 100%;
  }

  &__selectbox-input {
    list-style: none;
    border-radius: 3px;
    background-color: $bg-color-darker;
    border: 1px solid $text-color-dark-secondary;
    max-height: 180px;
    padding: 5px 0;
    overflow-y: scroll;
    width: 22.7em;
    position: absolute;
    top: 1.5em;
    z-index: 2;

    &::-webkit-scrollbar {
      width: 7px;
      background-color: $bg-color-darker;
    }

    &::-webkit-scrollbar-track,
    &::-webkit-scrollbar-thumb {
      background-clip: padding-box;
      border-radius: 3px;
    }
    &::-webkit-scrollbar-track {
      background-color: $text-color-dark-secondary;
    }
    &::-webkit-scrollbar-thumb {
      background-color: $primary-color;
    }
  }

  &__selectbox-item {
    color: $text-color-light;
    padding: 10px 12px;
    font-size: 1.125em;
    font-family: inherit;
    font-weight: 400;
    &:hover {
      cursor: pointer;
      color: $primary-color;
      transition: $transition-props;
    }
  }

  &__selectbox-button {
    text-align: start;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-wrap: nowrap;
    text-overflow: ellipsis;
    &--open {
      background-color: $text-color-dark-secondary;
      color: $text-color-light;
    }
  }

  &__arrow {
    &--open {
      transform: rotate(180deg);
      color: $text-color-light;
    }
  }

  &__error {
    color: red;
  }

  &__input {
    display: flex;
    flex-direction: column;
  }
}
