// Screen sizes
$screen-s: 320px;
$screen-sm: 768px;
$screen-md: 822px;
$screen-lg: 992px;
$screen-xl: 1200px;
$screen-xxl: 1300px;
$screen-full: 1920px;

// Colors
$primary-color: #3e9cdc;
$primary-color-hover: #42a9ed;
$text-color-dark: #000000;
$text-color-dark-secondary: #2a2b30;
$text-color-light: #ffffff;
$bg-color-dark-opacity: rgba(16, 16, 29, 0.9);
$bg-color-dark: #10101d;

//Transitions
$transition-props: all 0.3s ease-in-out;
