@import "../../styles/_variables";
@import "../../styles/_mixins";

.nav {
  width: 100vw;
  height: 6.25rem;
  min-width: 320px;
  max-width: 1920px;
  display: flex;
  align-items: center;
  background-color: $bg-color-dark-opacity;
  position: fixed;
  top: 0;
  z-index: 10;

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24rem;
    width: 100%;
    position: relative;

    @include xxxlMaxBreakPoint {
      padding: 0 18rem;
    }
    @include xxlMaxBreakPoint {
      padding: 0 14rem;
    }
    @include xlMaxBreakPoint {
      padding: 0 12rem;
    }
    @include lgMaxBreakPoint {
      padding: 0 10rem;
    }
    @include mdMaxBreakPoint {
      padding: 0 8rem;
    }
    @include smMaxBreakPoint {
      padding: 0 1rem;
    }
  }

  &__logo {
    height: 1.5rem;
    flex-shrink: 0;
    width: max-content;
    @include xlMaxBreakPoint {
      height: 1rem;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    width: max-content;
    list-style: none;

    &--mobile {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      height: 100vh;
      width: 40vw;
      min-width: max-content;
      background-color: $bg-color-dark-opacity;
      padding: 2rem;
      position: absolute;
      top: 3.98rem;
      right: 0;
      transition: $transition-props;
      @include mdMaxBreakPoint {
        top: 4.3rem;
        width: max-content;
      }
      @include xsMaxBreakPoint {
        width: 100vw;
        min-width: min-content;
        padding: 1rem;
      }
    }
    @include mdMaxBreakPoint {
      display: none;
    }
  }

  &__item {
    color: $text-color-light;
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: 2.813rem;
      @include xlMaxBreakPoint {
        margin-right: 2rem;
      }
    }
    @include xlMaxBreakPoint {
      font-size: 0.9rem;
    }
    &--mobile {
      display: flex;
      font-size: 1.8rem;
      padding: 1rem;
      width: 100%;
      &:hover {
        background-color: $bg-color-dark-opacity;
      }
    }
  }

  &__link {
    color: $text-color-light;
    text-decoration: none;
    text-transform: uppercase;
    flex-shrink: 0;
    &:hover,
    :active {
      color: $primary-color;
      cursor: pointer;
      transition: $transition-props;
    }
  }

  &__hamburger {
    display: none;
    flex-direction: column;
    gap: 7px;
    border: 3px $text-color-light solid;
    padding: 1rem;
    justify-content: center;
    align-items: center;
    & span {
      width: 2rem;
      height: 3px;
      background-color: $text-color-light;
    }
    @include mdMaxBreakPoint {
      display: flex;
    }
    &:hover {
      border: 3px $primary-color solid;
      cursor: pointer;
      transition: $transition-props;
      & span {
        background-color: $primary-color;
        transition: $transition-props;
      }
    }
  }
}
