@import "../../styles/_variables";
@import "../../styles/_mixins";

.footer {
  width: 100vw;
  min-height: 5em;
  display: flex;
  align-items: center;
  background-color: $text-color-dark-secondary;
  color: $text-color-light;

  @include xxlMaxBreakPoint {
    min-height: 6em;
  }
  @include lgMaxBreakPoint {
    min-height: 9em;
  }

  &__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0.5em 24em;
    width: 100%;
    height: 100%;
    @include xxxlMaxBreakPoint {
      padding: 0.4em 18em;
    }

    @include xxlMaxBreakPoint {
      padding: 0.4em 14em;
      align-items: flex-start;
    }
    @include xlMaxBreakPoint {
      padding: 0.2em 12em;
    }
    @include lgMaxBreakPoint {
      padding: 0.2em 10em;
    }
    @include mdMaxBreakPoint {
      padding: 0.2em 8em;
    }
    @include smMaxBreakPoint {
      padding: 0.2em 1em;
    }
  }

  &__payments,
  &__contacts {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  &__divider {
    margin: 0 2vw;
    height: 2em;
    width: 1px;
    border-left: 1px solid $text-color-light;
    @include xxlMaxBreakPoint {
      margin: 0 1em;
      align-self: center;
      height: 3em;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    margin: 0;
    padding-inline-start: 0;
    font-size: 0.813em;
    @include xxlMaxBreakPoint {
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
    }
  }

  &__item {
    width: max-content;
    display: flex;
    align-items: center;
    flex-shrink: 0;
    &:not(:last-child) {
      margin-right: 1em;
    }
    @include xxlMaxBreakPoint {
      margin-bottom: 0.5em;
    }
    @include xlMaxBreakPoint {
    }
    @include xsMaxBreakPoint {
    }
  }

  &__icon {
    margin-right: 6px;
  }

  &__link {
    display: flex;
    align-items: center;
    color: $text-color-light;
    text-decoration: none;
    flex-shrink: 0;
    &:hover,
    :active {
      color: $primary-color;
      cursor: pointer;
      transition: $transition-props;
    }
  }

  &__subtitle {
    display: none;
    font-weight: bold;
    margin-bottom: 1em;
    font-size: 0.813em;

    @include xxlMaxBreakPoint {
      display: flex;
      margin-bottom: 0.5em;
      flex-shrink: 0;
    }
  }
}
